<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
  <header>
    <div class="navbar">
        <div class="logo">
            <a href="/">Gelikhova Kristina</a>
        </div>
        <div class="menu-toggle" id="menu-toggle">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <nav class="navigation" id="navigation">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/contacts">Contacts</a></li>
            </ul>
        </nav>
    </div>
</header>


    <script src="/js/main.js"></script> <!-- Подключение скрипта -->
