<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Контакты</title>
  <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
  <%- include('partials/header') %>

  <section class="contacts-banner">
    <div class="contacts-banner-content">
        <h1>Contacts</h1>
        <div class="contacts-container">
          <a href="https://www.behance.net/kristingelikho" target="_blank">behance</a>
          <a href="mailto:kgelikhova@mail.ru" target="_blank">kgelikhova@mail.ru</a>
          <a href="https://t.me/kglkhv" target="_blank">tg: kglkhv</a>
      </div>
    </div>
  </section>

  <%- include('partials/footer') %>
</body>
</html>
